.RacerForm input {
  margin: 10px;
  margin-bottom: 5vh;
  line-height: 50px;
  padding: 5px;
  border: none;
  color: #555;
  font-size: 150%;
  border-bottom: 1px solid grey;
}

.RacerForm input::placeholder {
  color: #555;
}

.RacerForm input[type="text"] {
  width: 25%;
  background-color: rgba(0,0,0,.15);
}

.RacerForm input:focus {
  background-color: rgba(0,0,0,.3);
  color: #333;
  outline: none;
}

.RacerForm input[type="submit"] {
  background-color: #f16051;
  color: #fff;
  border: 2px solid grey;
  padding: 10px;
  border-radius: 10%;
  width: 40%;
}
